<div class="container">
  <main>

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">User Information</h4>
        <form [formGroup]="signupForm" (ngSubmit)="onSignupHandler()">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName">
              <div *ngIf="!signupForm.get('firstName')?.valid && signupForm.get('firstName')?.touched">
                Your first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName">
              <div *ngIf="!signupForm.get('lastName')?.valid && signupForm.get('lastName')?.touched">
                Your last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group ">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" formControlName="username">
              </div>
              <div *ngIf="!signupForm.get('username')?.valid && signupForm.get('username')?.touched">
                Your username is required.
              </div>

            </div>

            <div class="col-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
              <div *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched">
                Your password is required.
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to Signup</button>
        </form>
      </div>
    </div>
  </main>
</div>